*.json
*.txt
*.bak
*.marshal
*.xml
*.gml
*.png
img/*
*.pyc
*.log
*.gephi
*.svg
*.gpickle
*.tar.gz
.vscode/
**/__pycache__
GML-old/
*.csv
dblp_tmp/
dblp_arnet_tmp/
images/*.png


!country_replacement.json
!requirements.txt